node_modules/
browser-extension/build/chrome/
browser-extension/build/edge/
browser-extension/build/firefox/
browser-extension/build/opera/
browser-extension/build/safari/
browser-extension/build/yandex/
browser-extension/config/chrome/
browser-extension/config/edge/
browser-extension/config/firefox/
browser-extension/config/opera/
browser-extension/config/safari/
browser-extension/config/yandex/
browser-extension/dist/chrome/
browser-extension/dist/edge/
browser-extension/dist/firefox/
browser-extension/dist/opera/
browser-extension/dist/safari/
browser-extension/dist/yandex/
